<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ajustes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="ajustes.css" />
    <script src="hideFormAddUser.js"></script>

</head>

<body>
    <h1>Ajustes</h1>
    
        <table>
            <tr>
                <td>
                    
                    <%if($tam<4)%>
                        <h2>Añade un jugador</h2>
                    <%end%>
                </td>
            </tr>
            <tr>
                <td>
                    <%if($tam<4)%>
                        <form method="post" action="/addPlayer">
                            <label for="player">Nombre:</label>
                            <input type="text" name="nombre" required maxlength="12" placeholder="ingresa tu nombre">
                            <input type="submit" class="addUserButton"  name="guardar" value="Guardar">
                        </form
                    <%end%>
                </td>
            </tr>
            <tr>
                <td>
                    <%if($tam>0)%>    
                        <div>
                            <% for i in(0..($players.size-1))%>
                            
                                <div class="playerBox" style="<%=$players[i].getColor%>">
                                    <%=$players[i].getName%>
                                </div>
                                
                            <% end %>
                        </div>
                    <%end%>
                </td>
            </tr>
            <tr>
                <td>
                    <%if($tam>1)%>
                        <div class="divPlay">
                            <a class="playButton" href="/drawGame">Jugar</a>
                        </div>
                    <%end%>
                </td>
            </tr>
        </table>

</body>

</html>