<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ajustes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="ajustes.css" />
    <script src="hideFormAddUser.js"></script>

</head>

<body>
    <h1>Ajustes</h1>
    
        <table>
            <tr>
                <td>
                    <h2>Añade un jugador</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <form method="post" action="/aniadirJugador">
                        <label for="player">Nombre:</label>
                        <input type="text" name="nombre" required maxlength="12" placeholder="ingresa tu nombre">
                        <input type="submit" class="addUserButton"  name="guardar" value="Guardar">
                    </form
                </td>
            </tr>
            <tr>
                <%if($numberPlayers>0)%>
                    <td style="<%=@player.getColor%>">
                        <%=@player.getName%>
                    </td>
                <%end%>
            </tr>
        </table>

</body>

</html>