<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Página de bienvenida</title>
    <meta http-equiv="refresh" content="4.8; url=principal">
    <link rel="stylesheet" type="text/css" href="bienvenida.css" />
    <link rel="stylesheet" type="text/css" href="animate.css" />
    <script src="progressbar.js"></script>
</head>

<body>
    <h1 class="animated fadeInDown">Bienvenido!!</h1>
    <h2 hidden>DOTS and BOXES</h2>
    <div class="animated bounceIn dot" style="animation-duration: 3s">
    </div>
    <div>
        <div id="percentCount" class="percent-count"></div>
        <div class="progress-bar">
            <div class="progress" id="progress"></div>
        </div>
        
    </div>
</body>

</html>